#Debug {
	position: fixed;
	width: 100%;
	background-color: darkgray;
	font-size: 20px;
	bottom: 0;
	right: 0;
	left: 0;
}

#Chessboard {
	width: 500px;
	height: 500px;
}

#advCounter {
	position: relative;
	display: inline-block;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 496px;
	height: 40px;
	background-size: cover;
	z-index: 999;
	padding-bottom: 30px;
	overflow: hidden;
	background-color: bisque;
}

.advMarkers {
	border-right: 1px solid black;
	position: absolute;
	height: 100%;
	width: 25%;
	margin-left: 0px;
	left: 0;
}

.advLower {
	left: 0%;
}

.advLowerMid {
	left: 25%;
}

.advUpperMid {
	left: 50%;
}

.advUpper {
	left: 75%;
	border: none;
}

.adv55 {
	height: 55%;
}

#advMarkerWhite,
#advMarkerBlack {
	display: inline-block;
	position: absolute;
	height: 40px;
	width: 5px;
	margin-left: -5px;
	left: 0;
}

#advMarkerBlack {
	border: 1px solid white;
	background-color: red;
}

#advMarkerWhite {
	border: 1px solid black;
	background-color: red;
}

#advLeft,
#advRight {
	z-index: 999;
	position: absolute;
	font-size: 20px;
	top: 40px;
}

#advRight {
	float: right;
	right: 10px;
}

#advLeft {
	float: left;
	left: 10px;
}