#Debug {
	position: fixed;
	width: 100%;
	background-color: darkgray;
	font-size: 20px;
	bottom: 0;
	right: 0;
	left: 0;
}

#Chessboard {
	width: 500px;
	height: 500px;
}

#advCounter {
	position: relative;
	width: 500px;
	height: 40px;
	background-image: url(../img/advantage.png);
	background-size: cover;
	z-index: 999;
	padding-bottom: 30px;
}

#advFill {
	border: 1px solid red;
	overflow: hidden;
	position: relative;
	background-color: black;
	width: 5px;
	height: 40px;
	left: 0;
	left: -21px;
}

#advLeft,
#advRight {
	z-index: 999;
	position: absolute;
	font-size: 20px;
	top: 40px;
}

#advRight {
	float: right;
	right: 10px;
}

#advLeft {
	float: left;
	left: 10px;
}