<header>
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">Chess Tutor</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/play">Play</a></li>

				{{#if isLoggedIn}}
				<li><a href="/profile">Profile</a></li>
				{{else}}
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Signup</a></li>

				<!--Social Logins
				<a href="/auth/facebook" class="button"><span class="fa fa-facebook"></span> Facebook</a>
				<a href="/auth/twitter" class="button"><span class="fa fa-twitter"></span> Twitter</a>
				<a href="/auth/google" class="button"><span class="fa fa-google-plus"></span> Google+</a>-->
				{{/if}}
				<li>
					<input type="search" placeholder="Search">
				</li>
				<li>
					<button type="button" class="button">Search</button>
				</li>
			</ul>
		</div>
	</div>
</header>