<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
	{{>head}}
	<title>Chess Tutor</title>
</head>

<body>

	{{>fndnavbar}} {{{body}}}

	<script src="/js/vendor/foundation.js"></script>
	<script src="/js/vendor/what-input.js"></script>
	<script type="text/javascript">
		$(document).foundation();
	</script>
</body>

</html>