<br>
<div class="row">

	<h3>Contact Us</h3>

	<h5>Send Us A Question</h5>
	<form role="form" action="/process?form=contactus" method="POST">

		<label>Email</label>

		<div class="small-4">
			<input type="text" name="email">
		</div>

		<label>Question</label>

		<div class="small-4">
			<input type="text" name="ques">
		</div>

		<div class="small-4">
			<button type="submit" class="button success" href="/thankyou">Submit</button>
		</div>

	</form>

</div>
</div>