<br> {{#if message}}
<div class="callout alert">
	{{message}}
</div>
{{/if}}

<div class="row">
	<h3>Chess Tutor Home</h3>
	<p>(Twitter login only works on 127.0.0.1 because they dont allow localhost validation at twitter).</p>
</div>