<br>
<div class="row">
	<!-- CHESSBOARD -->
	<!-- WILL BE MOVED -->
	<div class="large-4 medium-6 small-12 column">
		<h4 class="text-center">Chessboard</h4>
		<div class="callout">
			<div id="Chessboard" class="large-12 disableSave" oncontextmenu="return false;">

			</div>

			<div id="advCounter" class="large-12">
				<span id="advLeft">Left</span>

				<div id="advMarkerWhite">
					<p id="advMarkerWhiteText"> 1</p>
				</div>
				<div id="advMarkerBlack">
					<p id="advMarkerBlackText">
						-1
					</p>
				</div>
				<div id="advScale">

				</div>

				<div>
					<ul class="ruler" data-items="10"></ul>
				</div>

				<span id="advMid">Right</span>

				<span id="advRight">Right</span>
			</div>
		</div>
	</div>

	<div class="large-4 medium-6 small-12 column">
		<h4 class="text-center">Tutor</h4>
		<div class="callout" style="height:16.2em;">
			<div id="tutorText" style="overflow-y: auto; height: 100%;">
				<p>MESSAGES</p>
			</div>
		</div>
	</div>

	<div class="large-4 medium-6 small-12 column">
		<h4 class="text-center">Debug</h4>
		<div class="callout">
			<div class="tiny expanded button-group" id="gameMode">
				<a class="button secondary success" id="pveBtn">Player vs Engine</a>
				<a class="button secondary" id="eveBtn">Stockfish Auto</a>
				<a class="button secondary" id="pvpBtn">Player vs Player</a>
			</div>

			<div class="small expanded button-group">
				<a class="button warning" id="undoBtn">Undo</a>
				<a class="button warning-alert" id="resetBtn">Reset</a>
			</div>

			<div class="input-group" id="joinRooms">
				<input class="input-group-field" type="text" id="joinText" disabled="true">
				<div class="input-group-button">
					<input type="submit" class="button" id="joinBtn" value="Join a Room" disabled="true">
				</div>
			</div>

			<a class="expanded button alert" id="leaveBtn">Leave</a>

			<div class="warning callout" id="gameInfo">
				<p id="blackCaptured">
					Black Captures:
				</p>
				<p id="whiteCaptured">
					White Captures:
				</p>

				<p id="whiteScore">
				</p>
				<p id="blackScore">
				</p>
				<p id="relativeScore">
					Score:
				</p>

				<div id="Debug">
					<div id="fen"></div>
					<div id="pgn"></div>
					<div id="status"></div>
					<div id="check"></div>
					<div id="checkmate"></div>
					<div id="suggestedMove"></div>
				</div>
			</div>

		</div>
	</div>

</div>

<div class="alert callout" style="position:fixed;bottom:10px;margin: 0 auto;text-align:center;width:100%;z-index:-999;">
	<p id="sessionID">Socket IO Will not work yet because the structure needs to be entirely re-done.</p>
</div>

<!-- JAVASCRIPT -->
<script src="/js/vendor/chess.js"></script>
<script src="/js/vendor/chessboard.js"></script>
<script src="/js/vendor/socket.io.js"></script>
<script src="/js/app.js"></script>
<!---------------->