<br>
<div class="row">
	<div class="small-6 column">

		<h3>Signup</h3> {{#if message}}
		<div class="callout alert">
			{{message}}
		</div>
		{{/if}}

		<!-- LOGIN FORM -->
		<form action="/signup" method="post">
			<label>Full Name</label>
			<input type="text" name="full_name">

			<label>Email</label>
			<input type="text" name="email">

			<label>Password</label>
			<input type="password" name="password">

			<button type="submit" class="button success">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>
</div>