/* Stylesheet - Henry Wallis: Chess Tutor */

/* CHESS TUTOR: POWERED BY
> https://github.com/exoticorn/stockfish-js  
> https://github.com/oakmac/chessboardjs
*/

@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Palanquin+Dark);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);

*:hover {
	transition: all 0.3s ease 0s;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	height: 100%;
	/* background: #F8F4F1; */
}

a {
	text-decoration: none;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	color: #29221f;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: 700;
}

a:hover {
	color: #08A842;
}
/* Button Sets */
.button {

	color: #29221f;
	border: 1px solid #000;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 36px;
	padding: 8px 15px 8px 15px;
	height: 35px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

.button:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842;
}

.button2 {
	color: #fff;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	text-align: center;
	line-height: 36px;
	padding: 4px 15px 4px 15px;
	height: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}

.button2:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842 !important;
}

.buttonText {
	color: #29221f;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: underline;
	transition: all 0.3s ease 0s;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.buttonText:hover {
	color: #08A842;
}

/* Button Sets end */



#logoMain {

	display:block;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 100%;
	background-image: url("../img/logo-chess.png");
	width: 118px;
	height: 84px;

}

.headerContainer {
	width: 98%;
	min-width: 1136px;
}

.social-Icons {
	display: inline-block;
	position: absolute;
	top: 22px;
	right: 1%;
}

.social-Icon {
	display: inline-block;
	margin: -5px 14px;
}

.social-Icon a {
	display: block;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 100%;
	width: 20px;
	height: 20px;
}

#Fb {
	background-image: url("../img/social/facebook.svg");
}

#Fb:hover {
	background-image: url("../img/social/facebook1.png");
}

#Tw {
	background-image: url("../img/social/twitter.svg");
	transition: all 0.3s ease 0s;
}

#Tw:hover {
	background-image: url("../img/social/twitter1.png");
}

#Gp {
	background-image: url("../img/social/gplus.svg");
	transition: all 0.3s ease 0s;
}

#Gp:hover {
	background-image: url("../img/social/gplus1.png");
}

.footerNav {
	display: inline-block;
	position: relative;
	left: -21px;
}

.footerNav li {
	display: inline-block;
	margin: 0 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

}

.mainHeadTop {
	width: 100%;
	margin: 0;
	padding: 0 0 25px 0;
	height: 90px;
	background-color: #fff;
	border-bottom: 1px solid #E4E4E4;
	z-index: 10;
	position: fixed;
	top: 0;
    min-width: 1136px;      
}

#logoMain {
	position: relative;
	left: 47.68%;
}



.navItems ul {
	margin: 0;
	width: 280px;
}

.navItems {
	position: relative;
	top: 46px;
}

.navItems ul li {
	display: inline;
	margin-left: 12px;
}


.headerBanner#bannerIndex {
	background: url(../img/background_banner2.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}

.headerBanner#bannerPlay {
	background: url(../img/background_banner3.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}

.headerBanner#bannerAbout {
	background: url(../img/background_banner5.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}

.headerBanner#bannerContact{
	background: url(../img/background_banner4.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}
.headerBanner#bannerRules{
	background: url(../img/woodb.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}
.headerBanner#bannerTutor{
	background: url(../img/tutor.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 511px;
	margin: 0 auto;
	padding: 0;
	top: 116px;
	text-align: center;
}




.bannerItems {
	position: absolute;
	width: 100%;
	bottom: 36%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.bannerItems h1 {
	line-height: 1.3em;
	font-size: 50px;
	font-family: 'Palanquin Dark', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.bannerItems .button2 {
	margin: 14px;
}

.bannerButton {
	position: relative;
	right: 19px;
}

.wrapper {
	margin: 0 auto -155px;
    background: #fff;
    text-align: center;
    min-height: 100%;
    position: relative;
    top: 116px;
}


.textSection {
	position: relative;
	padding: 50px 0 90px 0;
	max-width: 900px;
	margin: 0 auto;
}

.textSection h3 {
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: none;
}

.textSection a {
	color: #333;
	position: relative;
	left: -3px;
	font-size: 12px;
}

h2 {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 25px;
}

footer {
	border-top: 1px solid #E4E4E4;
	text-align: center;
	background: #fff;
	display: block;
	height: 90px;
}


footer p {
	font-size: 17px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px auto;
	width: 580px;
}

/* Homepage box section */

#full_background_Width {
	background-color: #F8F4F1;
}

#full_background_WidthWhite {
    background-color: #fff;
}

.boxSection{
	text-align: center;
	width: 1104px;
	margin-left: auto;
	margin-right: auto;
	height: 650px;
	background-color: #F8F4F1;
	padding-top: 50px;

}

.clearBoth {
	clear:both;
}

.boxSection .box {
	max-width: 398px;
	float: left;
	margin: 0px 15px 1px 15px;
	background-color: #fff;
	padding-bottom: 30px;
	
}

.boxSection .box img {
	height: 231px;
	width: 338px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 1;
}

.boxSection .box img:hover {
	opacity: .5;
}


.boxSection .box p {

	margin: 0px 0px 0px 35px;
	max-width: 269px;
	height: 150px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 15px;

}

.boxSection h3 {

	margin-bottom: 37px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 25px;

}
.boxTitle {
	margin-bottom: 37px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 19px;
	letter-spacing: 0.1em;
	text-align: left;
	margin: 20px 0px 20px 34px;
	width: 269px;

}

.box .buttonText {
	text-align: left;
	display: block;
	margin: 0px 0px 0px 34px;
	width: 120px;
}






#backgroundShadow {
	background: rgba(54, 25, 25, .5);
	width: 668px;
	margin: 0 auto;
	margin-bottom: 32px;
}

#buttonShadow {
	background: rgba(54, 25, 25, .5);
}

#buttonShadow:hover {
	color: #fff;
	background: #08A842;
	border: 1px solid #08A842 !important;
}

#textWrap {
	text-align:left;
	margin: 0 auto;
}

#textWrapInner {
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#textWrapInner h3{
    color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: left;
}

#textWrapInner p {
	text-align: left;
	color: #222;
	font-size: 19px;
	font-family: 'Josefin Sans', sans-serif;
}

#textWrapTutor {
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#textWrapTutor h1{
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 35px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
}

#textWrapTutor h3 {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
 }
 
 #textWrapTutor img{
 margin-left: 325px;
 border: 2px solid #000;
 width: 250px;
 height: 250px;
 }
 
 #textWrapTutor p{
	text-align: center;
	color: #222;
	font-size: 19px;
	font-family: 'Josefin Sans', sans-serif;
 }
 #textWrapRules {
	width: 900px;
	margin: 0 auto;
	padding-top: 50px;
}

 #textWrapRules h1{
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 35px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 5px groove #000;
}
 #textWrapRules h2{
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 30px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 3px outset #000;
	background: #F6B983;
}

#textWrapRules h3 {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 3px outset #000;
	background: #F8CEA8;
 }
 
 #textWrapRules img{
 margin-left: 325px;
 border: 2px solid #000;
 width: 250px;
 height: 250px;
 margin-bottom: 25px;
 }
 
 #textWrapRules p{
	text-align: center;
	color: #222;
	font-size: 22px;
	font-family: 'Josefin Sans', sans-serif;
 }
 #textWrapPieces{
	width: 900px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

 #textWrapPieces h1 {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 35px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 5px groove #000;
}
 #textWrapPieces h2{
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 30px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 3px outset #000;
	background: #F6B983;
}

#textWrapPieces h3 {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 25px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	text-align: center;
	border: 3px outset #000;
	background: #F8CEA8;
 }
 
 #textWrapPieces h4{
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 23px;
	margin: 0 0 20px 0;
	text-align: center;
	margin-top: 14px;
 }
 
 #textWrapPieces img {
 margin-left: 370px;
 margin-bottom: 20px;
 border: 2px solid #000;
 width: 150px;
 height: 150px;
 }
 
 #textWrapPieces p {
	text-align: center;
	color: #222;
	font-size: 22px;
	font-family: 'Josefin Sans', sans-serif;
 }
.contactForm legend {
	color: #222;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3em;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#textWrapInner q {
	font-family: 'Bad Script', cursive;
	font-size: 20px;
	color: #08A842;
}

#textWrapInner #nameQuote {
	display:inline-block;
	margin-left: 5px;

}.contactForm textarea {
    resize: none;
}

.contactForm fieldset {
	border: 2px solid rgb(51, 51, 51);
	height: 400px;
	width: 550px;
	margin: 0 auto;
	text-align: center
}

.contactForm h3 {
	text-align: center !important;
}

.contactForm p {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
}



/* =================================== over 1000 lines of CSS...well ....========================= */